<?xml version="1.0"?>
<config>
    <modules>
        <Youn_Movies>
            <version>0.1.0</version>
        </Youn_Movies>
    </modules>
    <global>
        <models>
            <youn_movies>
                <class>Youn_Movies_Model</class>
                <resourceModel>youn_movies_mysql4</resourceModel>
            </youn_movies>
            <youn_movies_mysql4>
                <class>Youn_Movies_Model_Mysql4</class>
                <entities>
                    <movie>
                        <table>youn_movies_movie</table>
                    </movie>
                    <celebrity>
                        <table>youn_movies_celebrity</table>
                    </celebrity>
                     <moviem2m>
                        <table>youn_movies_moviem2m</table>
                    </moviem2m>
               </entities>
            </youn_movies_mysql4>
        </models>
        <blocks>
            <youn_movies>
                <class>Youn_Movies_Block</class>
            </youn_linkir>
        </blocks>
        <helpers>
            <youn_movies>
                <class>Youn_Movies_Helper</class>
            </youn_movies>
        </helpers>
        <resources>
            <youn_movies_setup>
                <setup>
                    <module>Youn_Movies</module>
                    <class>Youn_Movies_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </youn_movies_setup>
            <youn_movies_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </youn_movies_write>
            <youn_movies_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </youn_movies_read>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <youn_movies module="youn_movies">
                    <file>youn_movies.xml</file>
                </youn_movies>
            </updates>
        </layout>
        <routers>
            <youn_movies>
                <use>standard</use>
                <args>
                    <module>Youn_Movies</module>
                    <frontName>movies</frontName>
                </args>
            </youn_movies>
        </routers>
    </frontend>
</config>

